	$--white: #FFFFFF;
	$--black: #000000;
	$--very-light-pink: #7B7B7B;
	$--text-input-field: #EAEAEA;
	$--hospital-green: #44BB21;
	$--hospital-dark-green: #11AA1D;
	$--sm: 14px;
	$--md: 16px;
	$--lg: 18px;
	$--xl: 24px;
