@import 'vars';

.PasswordRecovery {
	width: 100%;
	margin: 6em 0 0 0;
	display: grid;
	place-items: center;
}
.PasswordRecovery-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 300px;
	padding: 50px;
	background: $--text-input-field;
	border-radius: 30px;
}
.logo {
	width: 150px;
	margin-bottom: 48px;
	justify-self: center;
	display: none;
}
.form {
	display: flex;
	flex-direction: column;
}
.form a {
	color: $--hospital-green;
	font-size: $--sm;
	text-align: center;
	text-decoration: none;
	margin-bottom: 52px;
}
.label {
	font-size: $--sm;
	font-weight: bold;
	margin-bottom: 4px;
}
.input {
	color: $--black;
	font-size: $--md;
	border: 1px solid #A2A2A2;
	padding: 10px 10px;
	border-radius: 7px;
	margin-bottom: 30px;
	margin-top: 10px;
}

.message-error {
	color: red;
	margin-bottom: 20px;
	margin-top: -10px;
}

@media (max-width: 640px) {
	.logo {
		display: block;
	}
}
